* {
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Tahoma, Geneva, sans-serif;
}

body {
  background-color: #171b1c;
}

.traka {
  display: flex;
  justify-content: space-between;
  padding: 32px 116px;
  background-color: #242728;
}

.navigacija {
  display: flex;
}

.link {
  text-decoration: none;
  font-size: 16px;
  border-radius: 30px;
  padding: 8px 12px;
  color: white;
  margin-right: 36px;
}

.link-trenutni {
  background: #44c79b;
}

.racun {
  display: flex;
  background: #2e3132;
  border-radius: 30px;
  padding: 8px 12px;
}

.racun-tekst {
  font-size: 16px;
  color: white;
  margin-right: 16px;
}

.racun-stanje {
  font-size: 16px;
  color: white;
  font-weight: bold;
}

.sadrzaj {
  display: flex;
}

.transakcije {
  margin-top: 40px;
  margin-left: 116px;
  padding-right: 40px;
  border-right: 1px solid #242728;
  width: 60%;
}

.transakcije-naslov {
  font-weight: bold;
  font-size: 24px;
  color: white;
  margin-bottom: 32px;
}

.transakcija {
  display: flex;
  border-bottom: 1px solid #242728;
  padding-bottom: 24px;
  margin-bottom: 24px;
}

.transakcija-slika {
  border-radius: 50%;
  margin: 0px 24px;
}

.transakcija-ime-osobe {
  font-weight: bold;
  font-size: 18px;
  color: white;
  margin-bottom: 16px;
}

.transakcija-vrijeme {
  font-size: 16px;
  color: #bfbfbf;
  margin-left: auto;
}

.transakcija-iznos {
  font-size: 16px;
  color: #bfbfbf;
  margin-bottom: 12px;
}

.zeleno {
  color: #00ec42;
}

.crveno {
  color: #ff2e2e;
}

.akcija {
  margin-top: 40px;
  margin-right: 116px;
  margin-left: 40px;
  width: 40%;
}

.akcija-naslov {
  font-weight: bold;
  font-size: 24px;
  color: white;
  margin-bottom: 32px;
}

.input-kutija {
  display: flex;
  margin-bottom: 16px;
}

.input-tekst {
  color: white;
  font-size: 24px;
  margin-right: 8px;
  width: 150px;
}

.input {
  color: white;
  font-size: 24px;
  padding: 8px 12px;
  background: gray;
  border-radius: 9px;
  border: 2px solid lightslategray;
}

.poruka {
  color: white;
  font-size: 24px;
}

.botun {
  color: white;
  padding: 8px 12px;
  background-color: #44c79b;
  border-radius: 9px;
}
